![Imgur](https://i.imgur.com/5pXzCIu.png)

# Data Science va Sun'iy Intellekt Praktikum

## Ma'lumotlar tahlili. Pandas kutubxonasi.

### 2.2.4 Statistik ma'lumotlar

In [2]:
import pandas as pd
import numpy as np

In [4]:
# Keyingi mashqlar uchun ma'lumotlarni Githubdan yuklab olamiz
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/uzbekistan.csv', index_col=0)
df.columns = ['maydoni','aholisi']
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0

## Summa
.sum() funksiyasi ustun elementlarining summasini ko'rsatadi

In [29]:
# Quyida O'zbekiston Respublikasini maydoni va aholisis sonini ko'rishimiz mumkin
df.sum()

Maydoni (kv.km)      441900.0
Aholisi            22945800.0
dtype: float64

In [30]:
df2 = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/gm_sales.csv", index_col=0)
df2.head()

         2020   2021
Labo     4521   7542
Damas   30889  33682
Spark   16370   6485
Nexia   41663  14442
Cobalt  44901  36317

In [31]:
# Quyida esa 2020 va 2021 yilda GM Uzbekistan tomonidan jami sotilgan moshinalar sonini ko'rishimiz mumkin
df2.sum()

2020    168712
2021    124734
dtype: int64

Agar summani ustunlar bo'yicha amalga oshirish talab qilinsa `axis=1` parametridan foydalanamiz.
Demak, 2 yil davomida GMning turli modellari nechtadan sotilganini ko'rish uchun quyidagi kodni yozamiz

In [32]:
df2.sum(axis=1) # yoki axis='columns'

Labo      12063
Damas     64571
Spark     22855
Nexia     56105
Cobalt    81218
Gentra    56634
dtype: int64

### .mean() -  o'rta qiymatni hisoblash

In [36]:
df2.mean(axis=1)

Labo       6031.5
Damas     32285.5
Spark     11427.5
Nexia     28052.5
Cobalt    40609.0
Gentra    28317.0
dtype: float64

### min va maximum qiymatlarning indeksini topish

In [41]:
df

                               Maydoni (kv.km)    Aholisi
Boʻlinishi
Andijon viloyati                        4200.0  1899000.0
Buxoro viloyati                        39400.0  1384700.0
Fargʻona viloyati                       6800.0  2597000.0
Jizzax viloyati                        20500.0   910500.0
Xorazm viloyati                         6300.0  1200000.0
Namangan viloyati                       7900.0  1862000.0
Navoiy viloyati                       110800.0   767500.0
Qashqadaryo viloyati                   28400.0  2029000.0
Qoraqalpogʻiston Respublikasi         160000.0  1200000.0
Samarqand viloyati                     16400.0  2322000.0
Sirdaryo viloyati                       5100.0   648100.0
Surxondaryo viloyati                   20800.0  1676000.0
Toshkent viloyati                      15300.0  4450000.0

In [44]:
df.idxmin()

Maydoni (kv.km)     Andijon viloyati
Aholisi            Sirdaryo viloyati
dtype: object

In [45]:
df.idxmax()

Maydoni (kv.km)    Qoraqalpogʻiston Respublikasi
Aholisi                        Toshkent viloyati
dtype: object

In [95]:
df['maydoni'].argmax()

8

In [96]:
df['aholisi'].argmin()

10

In [97]:
df2

         2020   2021
Labo     4521   7542
Damas   30889  33682
Spark   16370   6485
Nexia   41663  14442
Cobalt  44901  36317
Gentra  30368  26266

In [72]:
df2.idxmin()

2020     Labo
2021    Spark
dtype: object

In [49]:
df2.idxmax()

2020    Cobalt
2021    Cobalt
dtype: object

In [88]:
print(df['aholisi'].idxmax(), 'aholisi', df['aholisi'].max())

Toshkent viloyati aholisi 4450000.0
4450000.0

In [89]:
print(df['maydoni'].idxmax())
print(df['maydoni'].max())

Qoraqalpogʻiston Respublikasi
160000.0

## Boshqa funksiyalar

`count` - NaN bo'lmagan qiymatlar soni

`median` - qiymatlar medianini hisbolash

`mad` - mean absolute deviation 

`prod` - barcha qiymatlar ko'paytmasi

`var` - variance (dispersiya)

`std` - standart deviation (standart chetlanis)

`skew` - skewness

`kurt` - kurtosis

`cumsum` - cumulative sum

`cummin` va `cummax`- cumulative min and max

`cumprod` - cumulative product

`diff` - arifmetik farq (difference)

`pct_change` - percent changes